@charset "utf-8";
/* CSS Document */

#maps{
	background:#999;
	width:700px;
	height:auto;
	border:solid;
	
	
	
	}
	
.hed1{
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:36px;
	font-style:italic;
	
	
	}